<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Counting Name Length</title>
</head>

<body>
    <% if (locals.nameLength) { %>
        <h1>Length of your name is <%= nameLength %>
        </h1>
        <% } else {%>
            <h1>Fill this form:</h1>
            <%}%>

                <form action="/submit" method="POST">
                    <input type="text" name="fName" placeholder="Enter first name">
                    <input type="text" name="lName" placeholder="Enter last name">
                    <input type="submit" value="Submit">
                </form>
</body>

</html>